html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* -webkit-user-select: none; */
    /* user-select: none; */
    /* font-family: 'Roboto', sans-serif; */
    overflow: hidden;
}

#app {
    height: 100vmin;
    width: 100vmin;
    background: #ffffad;
    border: 0.5vmin solid black;/*bounces around if I don't have this*/
    box-sizing: border-box;
}

.listItem{
    display:flex;
    align-items: baseline;
}

.listItem .btn {
    margin-right: 1vmin;
  }

.btn{
    margin: .5vmin;
}

h1{
    font-size: 5vmin;
    text-align:center;
    font-weight: 500;
}
h2{
    font-size: 3.75vmin;
    font-weight: 400;
}

.pageView{
    display:flex;
    flex-direction:column;
    height: 100%;
    background-image: url("@/assets/images/home.jpg");
    background-color: rgba(255,255,255,0.7);
    background-blend-mode: lighten;
    background-size: contain;
  }
  
  .footer {
    height: 7vmin;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content{
    padding:1vmin;
    height:84.75vmin;
    overflow-y: auto;
  }

  h6, h5, h4, h3, h2, h1{
    margin-top:1.25vmin;
  }

  